<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823678784336-b59ghirstdcg0l2stsso2buljkofla9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823678784336-b59ghirstdcg0l2stsso2buljkofla9h</string>
	<key>API_KEY</key>
	<string>AIzaSyChcn58dz1T3QR-U9zNlx02cj2Fe-FVcmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>823678784336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jeremyjiang.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f4dc3</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f4dc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823678784336:ios:b92d42e55c0dcfcb6ed255</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-f4dc3.firebaseio.com</string>
</dict>
</plist>